{% extends "zinnia/skeleton.html" %}
{% load i18n zinnia_tags %}

{% block main_title %}{% trans "Blog list" %}{% endblock %}

{% block rss_link %}
    <a href="{% url zinnia_entry_latest_feed %}" title="{% trans "RSS Feed of lastest entries" %}" class="link feeds">{% trans "RSS Feed" %}</a>
{% endblock %}

{% block content %}
<h2>{% trans "Blog list" %}</h2>
<div>
  <ul>
    {% for object in object_list %}
    <li>
        {% if ZINNIA_BLOG_ACTIVE %}
            <a href="{% url zinnia_entry_archive_index object.slug %}">{{ object.blog_name }} blog</a> 
        {% else %}
            <a href="{% url zinnia_entry_archive_index %}">Another Zinnia blog</a> 
        {% endif %}
        {% if default_list %}
            <ul>
            {% for entry in object.get_last_entries %}
                <li>
                    <a href="{{ entry.get_absolute_url }}">{{ entry.title }} ({{ entry.creation_date|date:"d F Y"|capfirst }})</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

